<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <nav>
            <div id="nav-inner">
                <ul id="nav-left" class="nav-ul">
                    <li>
                        <a href="@Url.Action("Index", "Home", new { area="" }, null)" class="nav-a">HOME<div class="nav-underline"></div></a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Help")" class="nav-a">DOCUMENTATION<div class="nav-underline"></div></a>
                    </li>
                </ul>
                <ul id="nav-right" class="nav-ul">
                    <li id="hamburger" onload="init_Burger();">
                        <div class="hamburger-layer"></div>
                        <div class="hamburger-layer"></div>
                        <div class="hamburger-layer"></div>
                    </li>
                </ul>
            </div>
        </nav>
        <h1 class="h-font-weight">XENO-API</h1>
        <h2 class="h-font-weight">A RESTful API serving information on the Alien film franchise</h2>
    </header>
    <div class="warning-message">
        <strong>Currently contains information on the first two films only. More soon!</strong>
    </div>
    <main>
        @RenderBody()
    </main>
    <footer>
        <p>Created by Jonathan Webbern</p>
    </footer>
    @Scripts.Render("~/bundles/javascript")
    @RenderSection("scripts", required: false)
</body>
</html>